<nav class="pagination | wrapper" role="navigation" aria-label="Pagination Navigation">
  <ul role="list">
    {% if page.url != pagination.href.first %}
      <li>
        <a href="{{ pagination.href.first }}">First</a>
      </li>
    {% else %}
      <li>
        <a href="#" role="button" aria-disabled="true">First</a>
      </li>
    {% endif %}
    

    {% if pagination.href.previous %}
      <li>
        <a href="{{ pagination.href.previous }}" aria-label="Previous page">
          {% include icons/chevron-left %}
        </a>
      </li>
    {% else %}
      <li>
        <a href="#" role="button" aria-disabled="true" aria-label="Previous page">
          {% include "./icons/chevron-left.liquid" %}
        </a>
      </li>
    {% endif %}

    {% for pageEntry in pagination.pages %}
      <li>
        <a href="{{ pagination.hrefs[forloop.index0] }}"
          {% if page.url ==  pagination.hrefs[forloop.index0] %}aria-current="page"{% endif %}
        >{{ forloop.index }}</a>
      </li>
    {% endfor %}

    {% if pagination.href.next %}
      <li>
        <a href="{{ pagination.href.next }}" aria-label="Next page">
          {% include icons/chevron-right %}
        </a>
      </li>
    {% else %}
      <li>
        <a href="#" role="button" aria-disabled="true" aria-label="Next page">
          {% include "icons/chevron-right" %}
        </a>
      </li>
    {% endif %}


    {% if page.url != pagination.href.last %}
      <li>
        <a href="{{ pagination.href.last }}">Last</a>
      </li>
    {% else %}
      <li>
        <a href="#" role="button" aria-disabled="true">Last</a>
      </li>
    {% endif %}
  </ul>
</nav>
