---
layout: main.liquid
---

{% include "nav.liquid" %}




<div class="wrapper">
  <article class="article flow">
    <h1>{{ title }}</h1>

    <div class="flow">
      <aside>
        <p>
          <time datetime="{{ date | date: " %Y-%m-%d" }}">{{ date | formatDate }}</time>
          <small>{{ content | readTime }} min read</small>
        </p>

        <div class="article-tags | gap-top-200">
          {% for tag in tags %}
            {% if tag != "posts" %}
              <a href="/tags/{{ tag }}" class="tag">{{ tag }}</a>
            {% endif %}
          {% endfor %}
        </div>
      </aside>

      <section class="article__content | flow">
        {{ content }}
        <aside class="article__improve">
          <p>Want to improve this article? You can propose an edit <a
              href="https://github.com/doorgan/blog/blob/master/src{{ url }}.md">here</a>.</p>
        </aside>
      </section>

      {% include "author.liquid" %}

      <section class="comments gap-top-600">
        <script src="https://giscus.app/client.js" data-repo="doorgan/blog"
          data-repo-id="MDEwOlJlcG9zaXRvcnkzNDQwMDYxNjg=" data-category-id="MDE4OkRpc2N1c3Npb25DYXRlZ29yeTMyOTczODM5"
          data-mapping="og:title" data-theme="preferred_color_scheme" crossorigin="anonymous" async>
          </script>
      </section>
    </div>
  </article>
</div>
